<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ticket" class="Domain.Ticket">
        <property name="priceTable" ref="priceTable"/>
    </bean>
    <bean id="zone" class="Domain.Zone">
        <property name="priceTable" ref="priceTable"/></bean>
    <bean id="priceTable" class="Domain.PriceTable"></bean>
    <bean id="eventManagerImp" class="Interfaces.Implementations.EventManagerImp">
        <property name="userManager" ref="userManagerImp"/>
        <property name="priceTable" ref="priceTable"/>
    </bean>
    <bean id="ticketManagerImp" class="Interfaces.Implementations.TicketManagerImp">
        <property name="userManager" ref="userManagerImp"/>
    </bean>
    <bean id="userManagerImp" class="Interfaces.Implementations.UserManagerImp"></bean>
    <bean id="DBConnection" class="Domain.DBConnection" destroy-method="disconnect">
        <constructor-arg value="jdbc:mysql://localhost:3306/test" index="0"/>
        <constructor-arg value="root" index="1"/>
        <constructor-arg value="root" index="2"/>
    </bean>
</beans>